@import "../../../assets/styles/variables.scss";

.card {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: $blue;
}

.header-image {
    background-size: cover;
}

.mat-card-header{
    background-color: $white;
    padding-top: 10px;
    border-radius: 10px;
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}

.mat-chip{
  text-transform: uppercase;
}

.mat-card-subtitle{
    color: $black;
}
